/* GENERAL */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-outfit: "Outfit", sans-serif;
  --font-ovo: "Ovo", serif;
}

body {
  margin: 0;
  font-family: var(--font-outfit);
  line-height: 2rem;
  background-color: #ffffff;
  color: #000000;
}

/* Dark mode*/
.dark body {
  background-color: #0f172a; /* darkTheme */
  color: #ffffff;
}