:root{
    --link-color: white;
    --link-hover-color: grey;
    --bg-color: black; 
    --p-color: rgb(35, 223, 207);
    --text-decoration-color:rgb(181, 181, 181); 
    --border-color:rgb(53, 53, 53);
    --border-color-2:rgb(163, 163, 163);
    --detail-container-color:rgb(59, 56, 56);
     
  
  
  
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none;
  
  }
  body {
   font-family: 'Poppins', sans-serif;
   background-color: var(--bg-color);
   
  
  }
  
 body {
    font-family: "Poppins", sans-serif;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  p {
    color: var(--p-color);
  }
  
  /* DESKTOP NAV */

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: var(--link-color);
  text-decoration: none;
  text-decoration-color: var(--bg-color);
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: var(--text-decoration-color);
}

.logo {
  font-size: 2rem;
}

.logo:hover {
  cursor: default;
}